.footer{
    background-color: #BCF8EC;
  }
label{
    background-color: #fcc8b2;
    color: black;
    border-radius: 5px;
    padding: 7px;
}
body{
    font-family:  Verdana, sans-serif;
}
.address{
    background-color: whitesmoke;
    color: black;
}
table,td,tr{
    background-color: #fcc8b2;
    border: #000000 solid 2px;
}
table,tr{
    border-radius: 10px;
}
button,.cancel{
    background-color:#BCF8EC ;
    border-radius: 5px;
    color: black;
    padding: 10px;
    border: 3px black solid;
}
