.row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.coloumn {
    display: table-cell;
  padding: 10px 10px 10px 180px;
  border-radius: 5px;
  border: black 2px solid;
}
body{
    background-color:#BCF8EC;
    font-family:  Verdana, sans-serif;
    
}
label{
    font-size: large;
    font-weight: bold;
    background-color: #fcc8b2;
    padding: 10px 2px 5px 2px;
    border-radius: 5px;
    border: #000000 solid 2px;
}
.label{
    padding: 3px;
    background:#fcc8b2;
    border: #000000 solid 2px;
    border-radius: 5px;
}
.date{
    padding: 8px;
    background:#BCF8EC;
    border: #000000 solid 2px;
    border-radius: 5px;
}
table,td,tr{
    background:#BCF8EC;
}
button{
    background-color:#fcc8b2;
    border-radius: 5px;
    color: black;
    padding: 15px;
    font-family:  Verdana, sans-serif;
    border: 2px solid black;
}
body{
    background-color:#BCF8EC;
    color: black;
    font-family:  Verdana, sans-serif;
}
